<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container">
    <a class="navbar-brand" href="#">News App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="color: white;">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let item of categoryArray" routerLinkActive="router-link-active"><a class="dropdown-item"
                (click)="goToCatList(item)">{{item?.category_name}}</a></li>
          </ul>
        </li>
      </ul>
      <div class="flex">
        <div class="login">
          <a class="nav-link " *ngIf="!user?.token" aria-current="page" href="#" data-bs-toggle="modal"
            data-bs-target="#exampleModal"><i class="fas fa-sign-in-alt"></i>Sign-in</a>
        </div>
      </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-search" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <div class="profile-icon dropstart">
        <i class="far fa-user-circle" *ngIf="user?.token" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false"> </i>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profile-modal"><i
                class="far fa-user-circle"></i>Profile</a></li>
          <li><a class="dropdown-item" (click)="goToFavlist()"><i class="fas fa-bookmark"></i>Favourite News</a>
          </li>
          <li><a class="dropdown-item" aria-current="page" (click)="logout()"><i
                class="fas fa-sign-out-alt"></i>Logout</a>
          </li>
        </ul>

      </div>

    </div>
  </div>
</nav>

<!--Profile-->

<div class="modal fade" id="profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Profie Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <img src="assets\pics/profile.jpg" class="img-fluid">
          <table class="table">

            <tbody>
              <tr>
                <th scope="row">Name:</th>
                <td>{{user?.name}}</td>

              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td>{{user?.email}}</td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn-logout" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>


<!--Register-->

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container-fluid">
        <div class="row">
          <div class=" form-block px-4">
            <div class="col-lg-8 col-md-6 col-sm-8 col-xs-12 form-box">

              <h4 class="text-center mb-4">
                Create an account
              </h4>
              <div class="form-input">
                <span><i class="fa fa-user-o"></i></span>
                <input type="text" #name placeholder="Full Name" required>
                <small class="text-danger" *ngIf="name.value ==='' && name.toched">Name is required</small>
              </div>
              <div class="form-input">
                <span><i class="fa fa-envelope-o"></i></span>
                <input type="email" #email placeholder="Email Address" tabindex="10" required>
                <small class="text-danger">Email is required</small>
              </div>
              <div class="form-input">
                <span><i class="fa fa-key"></i></span>
                <input type="password" #password placeholder="Password" required>
              </div>


              <div class="mb-3">
                <button type="submit" class="btn btn-block" (click)="register(name.value,email.value,password.value)">
                  Register <i *ngIf="isApiCalling" class="fas fa-spinner"></i>
                </button>
              </div>
              <div class="text-center mb-5">
                Already have an account
                <a class="login-link" type="button" aria-current="page" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Login Here</a>
              </div>
            </div>
          </div>


          <!-- </div> -->
        </div>


      </div>

    </div>
  </div>
</div>

<!--Login-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="container-fluid">
        <div class="row">
          <div class=" form-block px-4">
            <div class="col-lg-8 col-md-6 col-sm-8 col-xs-12 form-box">

              <h4 class="text-center mb-4">
                Login into account
              </h4>

              <div class="form-input">
                <span><i class="fa fa-envelope-o"></i></span>
                <input type="email" #login_email placeholder="Email Address" tabindex="10" required>
              </div>
              <div class="form-input">
                <span><i class="fa fa-key"></i></span>
                <input type="password" #login_password placeholder="Password" required>
              </div>

              <div class="mb-3 d-flex align-items-center">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="cb1">
                  <label class="custom-control-label" for="cb1">Remember me</label>
                </div>
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-block" (click)="login(login_email.value,login_password.value)">
                  Login
                  <i *ngIf="isApiCalling" class="fas fa-spinner"></i>
                </button>
              </div>
              <div class="text-center mb-5">
                Don't have an account?
                <a class="login-link" type="button" aria-current="page" data-bs-toggle="modal"
                  data-bs-target="#registerModal">Register here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>