<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container">
    <a class="navbar-brand" href="#">News App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="color: white;">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div class="flex">
        <div class="login">
          <a class="nav-link " *ngIf="!user?.token" aria-current="page" href="#" data-bs-toggle="modal"
            data-bs-target="#exampleModal"><i class="fas fa-sign-in-alt">Sign-in</i></a>


          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" *ngIf="user?.token" href="#" role="button"
              id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="nav-link " aria-current="page" (click)="logout()"><i
                    class="fas fa-sign-out-alt">Logout</i></a></li>
              <li><a class="dropdown-item" href="#"><i class="far fa-user-circle">Profile</i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-bookmark">Favourite News</i></a></li>
            </ul>
          </div>


        </div>
      </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-search" type="submit" style="width: 20px;">Search</button>
      </form>
    </div>
  </div>
</nav>

<!--Login-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="container-fluid">
        <div class="row">
          <div class=" form-block px-4">
            <div class="col-lg-8 col-md-6 col-sm-8 col-xs-12 form-box">

              <h4 class="text-center mb-4">
                Login into account
              </h4>
              <form class="signup-form">

                <div class="form-input">
                  <span><i class="fa fa-envelope-o"></i></span>
                  <input type="email" #login_email placeholder="Email Address" tabindex="10" required>
                </div>
                <div class="form-input">
                  <span><i class="fa fa-key"></i></span>
                  <input type="password" #login_password placeholder="Password" required>
                </div>

                <div class="mb-3 d-flex align-items-center">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cb1">
                    <label class="custom-control-label" for="cb1">Remember me</label>
                  </div>
                </div>

                <div class="mb-3">
                  <button type="submit" class="btn btn-block" (click)="login(login_email.value,login_password.value)">
                    Login
                    <i *ngIf="isApiCalling" class="fas fa-spinner"></i>
                  </button>
                </div>
                <div class="text-center mb-5">
                  Don't have an account?
                  <a class="login-link" href="login.html">Register here</a>
                </div>
              </form>
            </div>
          </div>
          <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign-in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" #login_email class="form-control" id="exampleFormControlInput1"
            placeholder="name@example.com">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Password</label>
          <input type="password" #login_password class="form-control" id="exampleFormControlInput1"
            placeholder="Enter your password">
        </div> -->

        </div>
        <!-- <div class="modal-footer">
          <h5>New user <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal1">Register Here</a></h5>
          <button type="button" class="btn btn-primary"
            (click)="login(login_email.value,login_password.value)">Login</button>
        </div> -->
      </div>
    </div>
  </div>

  <!--Register-->

  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign-Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
        <!-- <div class="modal-body"> -->
        <div class="container-fluid">
          <div class="row">
            <div class=" form-block px-4">
              <div class="col-lg-8 col-md-6 col-sm-8 col-xs-12 form-box">

                <h4 class="text-center mb-4">
                  Create an account
                </h4>
                <form class="signup-form">
                  <div class="form-input">
                    <span><i class="fa fa-user-o"></i></span>
                    <input type="text" #name placeholder="Full Name" required>
                  </div>
                  <div class="form-input">
                    <span><i class="fa fa-envelope-o"></i></span>
                    <input type="email" #email placeholder="Email Address" tabindex="10" required>
                  </div>
                  <div class="form-input">
                    <span><i class="fa fa-key"></i></span>
                    <input type="password" #password placeholder="Password" required>
                  </div>

                  <div class="mb-3 d-flex align-items-center">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cb1">
                      <label class="custom-control-label" for="cb1">I agree all terms & conditions</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <button type="submit" class="btn btn-block"
                      (click)="register(name.value,email.value,password.value)" (click)="opensweetalert()">
                      Register <i *ngIf="isApiCalling" class="fas fa-spinner"></i>
                    </button>
                  </div>
                  <div class="text-center mb-5">
                    Already have an account
                    <a class="login-link" href="login.html">Login here</a>
                  </div>
                </form>
              </div>
            </div>


            <!-- </div> -->
          </div>
          <!-- <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Name</label>
          <input type="text" #name class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" #email class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Password</label>
          <input type="passwword" #password class="form-control" id="exampleFormControlInput1"
            placeholder="Enter your password">
        </div> -->

        </div>
        <!-- <div class="modal-footer">

        <button type="button" class="btn btn-primary"
          (click)="register(name.value,email.value,password.value)">Submit</button>
      </div> -->
      </div>
    </div>
  </div>