.fa-bookmark {
  width: 30px;
  height: 30px;
  color: rgb(221, 221, 221);
  font-size: 18px;
}

.card-body {
  display: flex;
  padding: 0px;
}

.card-title1 {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.img-fluid {
  object-fit: cover;
  object-position: center center;
  max-width: 120px;
  object-fit: cover;
}



.small_p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding-right: 10px;
}

.favourite-col {
  display: flex;
  justify-content: flex-end;

}

.card-text {
  padding-right: 20px;
}

.description {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 20px;
}

.views {
  margin-left: 5px;
  font-size: 15px;
}

.fa-eye {
  font-size: 15px;
}


@media (max-width:500px) and (min-width: 300px) {
  .mb-3 {
    display: block;

  }
}
