.fa-bookmark {

  color: rgb(238, 52, 52);
  width: 80px;
  height: 30px;
}

.card-body {
  display: flex;
  padding: 0px;
}

.card-title1 {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.img-fluid {
  height: 130px;
  object-fit: cover;
  object-position: center center;
  max-width: 120px;
}

.small_p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favourite-col {
  display: flex;
  justify-content: flex-end;

}

.description {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 20px;
}
