.fa-bookmark {
  color: #880e4f;
  width: 80px;
  height: 30px;
}

.card-body {
  display: flex;
}

.card-title1 {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}


.small_p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.second-row {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}

.description {
  padding-left: 15px;
}
