<div class="card mb-3">
    <div class="row g-0">
        <!-- <h5 *ngIf="!isSmallCard" class="card-title1">{{news?.title}}</h5> -->
        <div class="col">
            <div class="card-body">
                <div class="image" (click)="goToDetailsPage()">
                    <img [src]="news.urlToImage" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="description">
                    <p [class]="isSmallCard ? 'small_p' : 'card-text'">{{news?.title}}</p>
                    <i class="fas fa-bookmark" *ngIf="!isSmallCard" (click)="AddFavourite()"></i>
                </div>

            </div>


        </div>



    </div>
</div>