.carousel-cell-custom {
  height: 150px;
  justify-content: center;
  /* border: 1px solid black; */
  border-radius: 5px;
  /* background-color: lightgrey; */
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.carousel-cell {
  margin-top: 20px;
  margin-left: 20px;
}

.container {
  margin-top: 70px;
}


.category-list {
  background-color: green;
}
