<app-header></app-header>
<div class="container">
    <carousel>


        <div class="carousel-cell" *ngFor="let item of categoryArray">
            <!-- <img src="path_to_image"> -->
            <div class="category-list" (click)="getCategoryNews(item)">
                <div class="carousel-cell-custom" [ngStyle]="{'background-color: #f00': item._id === catId}">
                    <p>{{item.category_name}}</p>
                </div>
            </div>
        </div>
    </carousel>
</div>


<div class="container">
    <h1>News on {{selected_category.category_name}}</h1>
    <div *ngFor="let item of newscategoryArray">
        <app-news-card [news]="item"></app-news-card>

    </div>
</div>

<div class="container" *ngIf="!newscategoryArray.length">
    <h4>
        News doesn't exists.
    </h4>
</div>