<app-header></app-header>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <h5 class="card-title1">{{newsDetail?.title}}</h5>
            <div class="col">
                <div class="card-body">

                    <img [src]="newsDetail?.urlToImage" class="details-img" alt="">
                    <div class="description" [innerHtml]="newsDetail?.content">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="margin-top: 50px;">
        <div class="comm-user" *ngFor="let item of newsDetail?.comments">

            <i class="far fa-user"></i>

            <div class="user-comment">
                <p class="user-name">{{item?.user?.name}}</p>
                <p class="comment-dtl">{{item?.comment}}</p>
            </div>

        </div>

        <div class="row n-d-row">
            <textarea name="" class="news-textarea" #comment cols="30" rows="10"></textarea>
            <button (click)="AddComment(comment.value)" type="button" class="btn btn-primary">Post Comment</button>

        </div>
    </div>

</div>