<app-header></app-header>
<div class="container">
  <!-- <carousel [images]="{{item?.urlToImage}}">
  </carousel> -->
  <carousel style="z-index: 0;" [objectFit]="'cover'" [cellWidth]="'100%'" [height]="300" [autoplay]="true"
    [dots]="true" [loop]="true">
    <div class="carousel-cell" *ngFor="let item of newsSlider ">
      <div>
        <img src="{{item?.urlToImage}}">
        <p>
          {{item?.title}}
        </p>
      </div>
    </div>
  </carousel>
</div>

<div class="container">
  <h1 class="top-heading">
    Recent News
  </h1>
</div>


<div *ngIf="isApiCalling">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>


<div class="container">
  <div class="row ">
    <div class="col-8">
      <div *ngFor="let news of newsArray">
        <app-news-card [news]="news"></app-news-card>

      </div>
    </div>
    <div class="col-4 top-news-container">
      <h1 class="top-heading">
        Top News
      </h1>
      <div *ngFor="let news of newsArray">
        <app-news-card [news]="news" [isSmallCard]="true"></app-news-card>

      </div>
    </div>
  </div>
</div>



<app-footer></app-footer>